*
!.gitignore
!avatar01.svg
!avatar02.svg
!avatar03.svg
!avatar04.svg
!avatar05.svg
!avatar06.svg
!avatar07.svg
!avatar08.svg
!avatar09.svg
!avatar10.svg
!avatar11.svg
!avatar12.svg
!bristen.jpg
!eiger.jpg
!generoso.jpg
!grandcombin.jpg
!matterhorn.jpg
!niederhorn.jpg
!pizbeverin.jpg
!rigi.jpg
!santis.jpg
!tannhorn.jpg
!titlis.jpg
!todi.jpg
!tschingelhorner.jpg
!glarnisch.jpg
!pizbernina.jpg
!uetliberg.jpg
